.cm-s-inner.CodeMirror {
    background-color: #003444;
    color: #EEFFFF;
    padding: 0.75rem 0.15rem 0.75rem 0.15rem;
    border-radius: 6px;
}

#write .CodeMirror-cursors .CodeMirror-cursor {
    border-left: 2px solid #f0f0f0;
}

.cm-s-inner .cm-header, .cm-s-inner.cm-header {
    color: #A77DF4;
}

.cm-s-inner .CodeMirror-gutters {
    background: #003444;
    color: #546E7A;
    border: none;
}

.code-tooltip {
    box-shadow: 0 1px 1px 0 rgba(0, 28, 36, .3);
    border-top: 1px solid #eef2f2;
    color: #fff;
    background: #003444;
    border-radius: 6px;
}

.cm-s-inner .CodeMirror-guttermarker,
.cm-s-inner .CodeMirror-guttermarker-subtle,
.cm-s-inner .CodeMirror-linenumber {
    color: #546E7A;
}

.cm-s-inner .CodeMirror-cursor {
    border-left: 1px solid #FFCC00;
}

.cm-s-inner.cm-fat-cursor .CodeMirror-cursor {
    background-color: #5d6d5c80 !important;
}
.cm-s-inner .cm-animate-fat-cursor {
    background-color: #5d6d5c80 !important;
}

.cm-s-inner div.CodeMirror-selected {
    background: rgba(128, 203, 196, 0.2);
}

.cm-s-inner.CodeMirror-focused div.CodeMirror-selected {
    background: rgba(128, 203, 196, 0.2);
}

.cm-s-inner .CodeMirror-line::selection,
.cm-s-inner .CodeMirror-line>span::selection,
.cm-s-inner .CodeMirror-line>span>span::selection {
    background:  rgba(0,178,123,0.2);
}

.cm-s-inner .CodeMirror-line::-moz-selection,
.cm-s-inner .CodeMirror-line>span::-moz-selection,
.cm-s-inner .CodeMirror-line>span>span::-moz-selection {
    background: rgba(0,178,123,0.2);
}
.cm-s-inner .CodeMirror-selected {
    background: rgba(0,178,123,0.2) !important;
}
.cm-s-inner .CodeMirror-selectedtext {
    background: transparent !important;
}

.cm-s-inner .CodeMirror-activeline-background {
    background: #003444;
}

.cm-s-inner .cm-keyword {
    color: #C792EA;
}

.cm-s-inner .cm-operator {
    color: #E9EDED;
}

.cm-s-inner .cm-variable-2 {
    color: #80CBC4;
}

.cm-s-inner .cm-variable-3,
.cm-s-inner .cm-type {
    color: #82B1FF;
}

.cm-s-inner .cm-builtin {
    color: #DECB6B;
}

.cm-s-inner .cm-atom {
    color: #F77669;
}

.cm-s-inner .cm-number {
    color: #F77669;
}

.cm-s-inner .cm-def {
    color: #00AEC4;
}

.cm-s-inner .cm-string {
    color: #C3E88D;
}

.cm-s-inner .cm-string-2 {
    color: #80CBC4;
}

.cm-s-inner .cm-comment {
    color: #AEBBC2;
}

.cm-s-inner .cm-variable {
    color: #82B1FF;
}

.cm-s-inner .cm-tag {
    color: #80CBC4;
}

.cm-s-inner .cm-meta {
    color: #80CBC4;
}

.cm-s-inner .cm-attribute {
    color: #FFCB6B;
}

.cm-s-inner .cm-property {
    color: #80CBAE;
}

.cm-s-inner .cm-qualifier {
    color: #DECB6B;
}

.cm-s-inner .cm-variable-3,
.cm-s-inner .cm-type {
    color: #DECB6B;
}

.cm-s-inner .cm-error {
    color: #FFFFFF;
    background-color: #FF5370;
}

.cm-s-inner .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}