@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    src: local('JetBrainsMonoNL-Regular'),
    url('./JetBrainsMonoNL-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    src: local('JetBrainsMono-Italic'),
    url('./JetBrainsMonoNL-Italic.ttf') format('truetype'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    src: local('JetBrainsMono-Medium'),
    url('./JetBrainsMonoNL-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 500;
    src: local('JetBrainsMono-MediumItalic'),
    url('./JetBrainsMonoNL-MediumItalic.ttf') format('truetype'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: bold;
    src: local('JetBrainsMono-Bold'),
    url('./JetBrainsMonoNL-Bold.ttf') format('truetype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: bold;
    src: local('JetBrainsMono-BoldItalic'),
    url('./JetBrainsMonoNL-BoldItalic.ttf') format('truetype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 900;
    src: local('JetBrainsMono-ExtraBold'),
    url('./JetBrainsMonoNL-ExtraBold.ttf') format('truetype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 900;
    src: local('JetBrainsMono-ExtraBoldItalic'),
    url('./JetBrainsMonoNL-ExtraBoldItalic.ttf') format('truetype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


@font-face {
    font-family: 'SourceHanSansSC';
    font-weight: normal;
    src: local('SourceHanSansSC-Regular'),
    url('./SourceHanSansSC-Regular.otf') format('opentype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    unicode-range: U+4E00-9FA5, U+9FA6-9FFF, U+3400-4DBF, U+20000-2A6DF, U+2A700-2B738, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+30000-3134A, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007;
}

@font-face {
    font-family: 'SourceHanSansSC';
    font-weight: 500;
    src: local('SourceHanSansSC-Medium'),
    url('./SourceHanSansSC-Medium.otf') format('opentype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    unicode-range: U+4E00-9FA5, U+9FA6-9FFF, U+3400-4DBF, U+20000-2A6DF, U+2A700-2B738, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+30000-3134A, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007;
}

@font-face {
    font-family: 'SourceHanSansSC';
    font-weight: 300;
    src: local('SourceHanSansSC-Light'),
    url('./SourceHanSansSC-Light.otf') format('opentype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    unicode-range: U+4E00-9FA5, U+9FA6-9FFF, U+3400-4DBF, U+20000-2A6DF, U+2A700-2B738, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+30000-3134A, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007;
}

@font-face {
    font-family: 'SourceHanSansSC';
    font-weight: bold;
    src: local('SourceHanSansSC-Bold'),
    url('./SourceHanSansSC-Bold.otf') format('opentype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    unicode-range: U+4E00-9FA5, U+9FA6-9FFF, U+3400-4DBF, U+20000-2A6DF, U+2A700-2B738, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+30000-3134A, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007;
}

@font-face {
    font-family: 'SourceHanSansSC';
    font-weight: 900;
    src: local('SourceHanSansSC-Heavy'),
    url('./SourceHanSansSC-Heavy.otf') format('opentype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    unicode-range: U+4E00-9FA5, U+9FA6-9FFF, U+3400-4DBF, U+20000-2A6DF, U+2A700-2B738, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+30000-3134A, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007;
}
